.nav-bar {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 4.5rem;
  background-color: black;
  color: white;
}

.logo-help {
  font-size: 1.1rem;
}

.logo-help > * {
  margin-right: 10px;
  color: white;
}

.buttons button {
  color: white;
  font-size: 1.1rem;
  margin-right: 25px;
  padding: 0.6rem 1.3rem;
  border-radius: 15px;
}

.submit-request {
  background: #191a1b;
  border: 1px solid white;
}

.sign-in {
  background: #4C5FD5;
}

.sign-in:hover {
  background: white;
  color: black;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 1199px) {
  .buttons {
    display:none;
    position: absolute;
    background-color: #191a1b;
    left: 0;
    top: 110px;
    text-align: center;
    padding: 10px;
  }
  input[type=checkbox]:checked ~ .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  input[type=checkbox]:checked ~ .buttons button {
    width: 50%;
    background: transparent;
    border: 0;
    border-radius: 0;
  }
  input[type=checkbox]:checked ~ .buttons .submit-request {
    border-bottom: 1px whitesmoke solid;
  }
  .sign-in:hover {
    background: #191a1b;
    color: white;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 530px) {
  .nav-bar {
    padding: 1rem;
  }
}
