.nav-bar {
  height: 45px;
  padding: 2% 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.nav-bar > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar > div > * {
  font-size: 1.10rem;
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

.nav-bar > div > button {
  padding: 10px 30px;
  border-radius: 10px;
}

.help:hover {
  text-decoration: underline;
}

.logo:hover {
  color: gray;
}

.submit-request {
  border: 1px solid white;    
  background: #191a1b;
}

.sign-in {
    background: #4C5FD5;
}

.sign-in:hover {
    background: white;
    color: black;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #dadbf1;
}

.banner div {
  margin: 120px;
  display: inline;
  padding: 30px;
  text-align: center;
  font-size: 3.5rem;
}

.banner h4 {
  font-weight: 200;
}

.banner input {
  width: 55%;
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #4C5FD5;
}

